<div class="col-lg-8 col-lg-offset-1">

  <button type="button" class="btn btn-default btn-lg btn-block" id="refresh-button"> next, please </button>
  <div id="hot-div">

    <br>
    <br>
    <br>
      
    <iframe src=<%= @feed.pop_it_like_its_hot(session[:hot_list]).path %> width="1000" height="700"></iframe>
    <% if session[:hot_list].length == 0 %>
      <% session[:hot_list] = @feed.links.shuffle %>
    <% end %>
  </div>
</div>